<!doctype html>
<html>
<head>
  <title>OX Game</title>
  <link rel="stylesheet" href="css/game.css" />
</head>
<body>

  <canvas id="canvas" width="500" height="500">
        Your Browser Does Not Support Canvas and HTML5
  </canvas>

  <div style="position: absolute; top: 50%; left: 0">
    <button id="testa">drop platform a</button>
    <button id="testb">drop platform b</button>
    <button id='start'>Start Round</button>
    <h1 style="color: white" id="timer"> Timer </h1>
  </div>

  <div style="position: absolute; top:0%; left: 0; width: 100%; display: inline-block; text-align: center; ">
    <div style="align-items: center; display: inline-flex; height: 100px; width: 100%; background-color: lightblue; justify-content: space-around">
    <h1 style="color: black; display: inline-block"> X</h1>
    <h1 id="question" style="color: black; display: inline-block"> BUBBLE SORT IS BEST SORT</h1>
    <h1 style="color: black; display: inline-block"> O</h1>
  </div>
  </div>


  <script src="/socket.io/socket.io.js"></script>
<script src="js/game.js"></script>

</body>
</html>
